useDynLib(Familias)
import(kinship2)
import(paramlink)
export(FamiliasLocus)
export(FamiliasPedigree)
export(FamiliasPrior)
export(FamiliasPosterior)
export(ConvertPed)
S3method(plot, FamiliasPedigree)
