useDynLib(Familias)
export(AddAlleleSystem)
export(AddDNAObservation)
export(AddExtraPerson)
export(AddFixedRelation)
export(AddPedigree)
export(AddPerson)
export(AddRelation)
export(EditAlleleSystem)
export(GeneratePedigrees)
export(GetNumberOfExtraFemales)
export(GetNumberOfExtraMales)
export(GetNumberOfPedigrees)
export(GetNumberOfSystems)
export(GetParents)
export(GetPedigree)
export(GetProbabilities)
export(GetSizeOfPedigree)
export(NewFamilias)
export(RemoveAlleleSystem)
export(RemoveDNAObservation)
export(RemoveExtraPerson)
export(RemoveFixedRelation)
export(RemovePedigree)
export(RemovePerson)
export(RemoveRelation)
